@use 'variaveis';

@mixin botao($cor, $cor-hover) {
    display: inline-block;
    padding: .75rem 2rem;
    border-radius: .5rem;
    text-decoration: none;
    font-weight: 500;
    transition: background .3s;
    cursor: pointer;
    text-align: center;
    background: $cor;
    color: #fff;

    &:hover {
        background: $cor-hover;
    }
}

@mixin responsivo($breakpoint) {
    @if $breakpoint == tablet {
        @media (max-width: calc(variaveis.$max-width * 2)) {
            @content;
        }
    } @else if $breakpoint == desktop {
        @media (min-width: calc(variaveis.$min-width * 2)) {
            @content;
        }
    }
}
