// Cores
$cor-primaria: #4f46e5;
$cor-secundaria: #6366f1;
$cinza-100: #f4f4f5;
$cinza-900: #18181b;

// Tipografia
$fonte-base: "Poppins", Arial, sans-serif;

// Layout
$max-largura: 1200px;
$max-width: 384px;
$min-width: 512px;
